
/* App.css */
.background {
  background-image:'potenkim.jpg';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: rgb(223, 223, 31);
}

